* {
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.card {
    margin: 5% 10%;
}

.table {
    margin-top: 30px;
    margin-bottom: 30px;
}

.table-container {
    margin-left: 10%;
    margin-right: 10%;
}

.comp-header {
    margin: 20px 10%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
Position absolute puts the element nearest to the closest ancestor. 
object-fit: cover allows the img to preserve its aspec ratio given its base dimensions. 
*/
.climbing-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.footer-b {
    height: 150px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Sales.html*/

.sky-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;    
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}